{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
  About me
{% endblock %}

{% block body %}
  <h1>User info</h1>
    <div>Products available: {% now "u" %}</div>
    {% if user.is_authenticated %}
    {% cache 300 userinfo user.username %}
    <h2>Detail</h2>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ profile.bio }}</p>
    <p>Agreement: {{ profile.agreement_accepted }}</p>
    {% if profile.avatar %}
      <h4>Avatar:</h4>
      <img src="{{ profile.avatar.url }}" height="350" alt="{{ profile.avatar.name }}">
    {% else %}
      <h4>No avatar yet</h4>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>
      Load new avatar:
      <input type="file" name="avatar" accept="image/" id="id_avatar"><button type="submit">Load</button>
      </p>
    </form>
    {% endcache %}
    {% else %}
    <h2>User is anonymous</h2>
    {% endif %}
<div>
  <a href="{% url 'myauth:account_update' pk=profile.pk %}">>Update profile info</a>
</div>
<div>
  <a href="{% url 'shopapp:user_orders' user_id=user.pk %}">>Go to user's orders</a>
</div>
<div>
  <a href="{% url 'myauth:accounts_list' %}">>Back to profiles list</a>
</div>
{% endblock %}