{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favblog.ico' %}" >
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base Title
        {% endblock %}
    </title>
</head>
<body>

    {% block body %}
        Base Body
    {% endblock %}
    <div>
        {% now 'H:i' %}
    </div>
    <div>
        {% now 'l' as current_weekday %}
        Today is {{ current_weekday }}
    </div>
</body>
</html>